.left-next{
	width: 100%;
	min-width: 632px;
	min-height: 300px;
	height: auto;
	box-sizing: border-box;
	padding-right: 283px;
	clear: both;
}
.col-history{
	width: 100%;
	padding:10px 20px;
	min-height: 150px;
	box-sizing: border-box;
	border:1px solid #DDDDDD;
	border-radius: 4px;
}
.col-history-table{
    width: 100%;
}
.col-history-table tr{
	width: 100%;
}
.col-history-table thead tr td{
	height: 50px;
}
.col-history-table tr td a{
	color:#48B6F6;
	font-size: 14px;
}
.col-history-table tr td span{
	font-size: 14px;
	color: #333;
}
.col-history-table tbody tr:hover{
	background-color: #E6F8EE;
}
.col1-td{
	width:40%;
}
.col2-td{
	width: 20%;
}
.col3-td{
	width:20%;
}
.col4-td{
	width: 20%;
}
.col-td{
	width: 100%;
	text-align: center;
	color: #949494;
	font-size: 16px;
	margin-top: 60px;
}
.col-td a{
	font-size: 18px;
	color:#44A3FF;
}
.delete-sprites-common{
    width: 20px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
	background:url("/images/user-center-sprites.png") -70px -303px no-repeat;
}
.right-center-bottom-first-a{
	position: relative;
	display: inline-block;
}
.right-center-bottom-first-a img{
	width:197px;
	height: 107px;
	display: inline-block;
}
.right-center-bottom-first-a-span{
	display: inline-block;
	position: absolute;
    bottom: 0px;
    right: 0px;
    margin:0px 4px 6px 0px;
    background-color: #252119;
    width:49px;
    height: 14px;
    text-align: center;
    font-size: 12px !important;
    color:#fff !important;
}
.keep-upload{
	display: inline-block;
	color: #fff !important;
	font-size:16px;
	margin-left: 15px;
    cursor: pointer;
    border:1px solid #0082FE;
    border-radius: 4px;
    background-color: #0082FE;
    width: 70px;
    height: 20px;
    text-align: center;
}