*{
	margin:0px;
	padding:0px;
	/*overflow: hidden;*/
}
html{
	color:#000;
	font-size:14px;
}
#main{
	width:698px;
	background:#000;
	margin:10px 0 0 10px;
	position:relative;
}
#video{
	width:698px;
	height:298px;
	cursor:pointer;
}
#bigBtn{
	width:136px;
	height:136px;
	background:#333;
	border-radius:5px;
	box-shadow:3px 3px 3px;
	position:absolute;
    top:81px;
    left:281px;
    cursor: pointer;
}
#bigBtn span{
	display:block;
	width:0px;
	height:0px;
	border-left:60px solid #fff;
	border-top:50px solid transparent;
	border-bottom:50px solid transparent;
	margin-top:18px;
	margin-left:48px;
}
#progress{
	width:100%;
	height:22px;
}
#currentTime{
	width:50px;
	height:14px;
	color:#fff;
	font-size:12px;   /*原来是14px，结果导致overflow,错误原因是没有计算字需要的宽度*/
	float:left;
	background:#000;
	margin-right: 5px;
	margin-top:4px;
	margin-left: 4px;  /*后面加*/
}
#progressBar{
	width:580px;      /*原来是588px，结果导致durationTime到下面一行去了,可能是因为我忽略了border */
	height:14px;
	float:left;
    margin-top:3px;
    margin-right:5px;
    background:#000;
    border:1px solid #303030;
    cursor: pointer;
}
#playedProgressBar{
	width:0px;
	height:14px;
    background:#399ccf;
    cursor:pointer;
    float:left;       /*后面加*/
}
#progressBar span{
	display:inline-block;
	position:absolute;
	width:14px;
	height:14px;
	background: #fff;
	border-radius:3px;
	left:60px;
    cursor: pointer;
}
#durationTime{
	float:left;
	width:50px;
	height:14px;
	font-size:12px;
	color:#fff;
	background: #000;
    margin-top:4px;
}
#buttonTools{
	clear: both;
	width:100%;
	height:46px;
	background:url(/images/bars.jpg) repeat-x 0 0 scroll; 
}
#smallBtn{
	cursor: pointer;
	width:34px;
	height: 33px;
	margin-left:3px;
	float:left;
	margin-top:6px;
}
#voice{
	float: left;
	width:65px;
    height:15px;
    margin-top:15px;
    margin-left:20px;      /*要注意这20px*/
}
#voicePic{
	width:16px;
	height:15px;
	float:left;
}
#voiceLine{
	background: url(/images/voiceline.jpg) no-repeat;
	margin-left:2px;
	float:left;
	width:45px;
	height:13px;
	cursor: pointer;
}
#voiceLine span{
	display:inline-block;
	width:6px;
	height: 13px;
	background: #fff;
	border-radius:2px;
	position:absolute;
	left:97px;      /*原来是77px，少加了20px*/
}
#myStyle{
	margin:8px 20px 0px;
	height:30px;
	width:510px;
	background:#ccc;
	border-radius:5px;
	float:left;
	text-align: center;
	line-height: 30px;
	font-size:18px;        /*字体方面我做的不够好，一味的使用font-size会导致字体失真*/
	text-shadow:0 0 4px #fff,0 0 5px #fff;
}
#fullScreen{
	width:19px;
	height:17px;
	float: left;
	margin-right:4px;
	margin-top:15px;
	cursor: pointer;
	word-spacing:2px;
}
#fullScreen img{
	width:17px;
	height:15px;
}
#fullScreen img:hover{
	width:19px;
	height: 17px;
	margin-top:-1px;
	margin-left: -1px;
}